main {
    background: #fafafa;
    button {
        border: none;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        margin: 38% 0px 0px 40%;
        background-color: #02020252;
        border-radius: 1.75rem;
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        position: fixed;
        z-index: 999;

        @include tablet {
            display: flex;
            position: fixed;
            margin-top: 156%;
            margin-left: 88px; 
            z-index: 222;
        }
        .text {
            font-family: $typo-apple-actually;
            font-style: 14px;
            font-weight: 600;
            color: #1a1a1a;
            margin: 0 1.2rem;
            white-space: nowrap;
        }
        .text:hover {
            color: #ffffff;
        }
        .icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: #ffffff;
            background: #0071e3;
            border-radius: 50%;
            opacity: 0.8;
            #icon-modify {
                color: white;
                display: flex;
                margin-left: 10px;
                margin-top: 10px;
                width: 20px;
                height: 20px;
                transition: transform 0.3s ease;
                    a {
                        text-decoration: none;
                    }
                }
            #icon-modify:hover {
                transform: scale(1.4);
            }
            }
    }
    
    #home-cs {
        width: 100%;
        height: 520px;
        // background: blue;
        background: url("../scss/recursos/isover-fondo.jpg.jfif");
        background-size: cover;

        @include tablet {
            height: 170px;
        }

        .trapezoide-cs {
            width: 340px;
            height: 130px; 
            background: #fafafa;
            position: absolute;
            transform: perspective(400px) rotateY(30deg); 
            transform-origin: 100% 63%;
            margin: 29% 0 0 20%;

            @include tablet {
                width: 170px;
                height: 60px;
                background: #fafafa;
                // margin: 120.5% 0 0 15%;
            }
        }

        .home-cs-content {

            p {
                font-family: 'Poppins';
                font-size: 2.5rem;
                font-weight: 600;
                position: absolute;
                margin: 30% 0 0 133px; 
                text-align: flex-start;
                color: rgb(12, 12, 12);
                border-bottom: 6px solid rgb(102, 102, 102); 
                padding-bottom: .1em;
            
                @include tablet {
                    font-family: 'Poppins';
                    font-size: .95rem;
                    margin: 33% 0 0 18%;
                    border-bottom: 3px solid rgb(102, 102, 102); padding-bottom: .1em;
                }
            }
        }

        .home-container{
            margin: -3% 0px 0px 0px;
            width: 100%;
            height: 300px;
            background: #fafafa;
            border-radius: 20px;
    
            @include tablet {
                width: 100%;
                height: 125px;
            }
            @keyframes roll {
                0% {
                    opacity: 0;
                    transform: translate3d(0, -70%, 0);
                }
                25%, 50% {
                    opacity: 1;
                    transform: translateZ(0);
                }
                75%, 100% {
                    opacity: 0;
                    transform: translate3d(0, 70%, 0);
                }
            }
            h1 {
                font-family: $typo-poppins;
                margin: 5% 0px 0px 7%;
                display: flex;
                font-size: .9rem;
    
                @include tablet {
                    font-size: .9em;
                    margin-left: 42px;
                }
                
                .home-lista {
                    margin-left: 10px;
            
                    .home-lista-item {
                        position: absolute;
                        animation: roll 10s ease 3s infinite backwards;
            
                        &:nth-child(1) {
                            animation-delay: 0s;
                            opacity: 0;
                            margin-top: 0%;
                        }
            
                        &:nth-child(2) {
                            animation-delay: 5s; 
                            opacity: 0;
                            margin-top: 0%;
                        }
                    }
                }
            }
        }
    }

    .tiposDeMuros {
        // height: 680px;

        .strip {
            width: 100%;
            height: 250px;
            max-width: 1310px; /* Ancho máximo para mantener la legibilidad en pantallas grandes */
            margin: 20px; /* Ajustado para mayor espacio entre tiras */
            background-color: #ffffff;
            border: 1px solid #e6e6e6;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex; /* Utiliza flexbox para alinear elementos */
            align-items: center;

            @include tablet {
                display: flex;
                width: 98%;
                height: 170px;
                margin: -98% 0 385px 3px;
                padding: 0 0 0 3px;
            }
            img {
                max-width: 100%; 
                width: 410px;
                height: 248px; 
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                @include tablet {
                    display: flex;
                    max-width: 100%; 
                    width: 225px;
                    height: 168px; 
                    margin: 0 0 0 -3px;
                }
            }
            .strip-content {
                font-family: 'Poppins';
                color: #333;
                display: flex;
                flex-direction: column; 
                max-width: 900px;
                padding: 5%;

                .textWrapperTechos {
                    display: inline-block;
                    background: #d30809;
                    color: #d30809;
                    width: 57px;
                    height: 3px;
                    margin-bottom: 18px;
                    font-size: 16px;
                }
                h2 {
                    font-family: 'Poppins';
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: #383f47;

                    @include tablet {
                        display: flex;
                        font-size: 1.1rem;
                    }
                }
                p {
                    font-family: 'Poppins';
                    font-size: 1rem;
                    color: #383f47;

                    @include tablet {
                        display: none;
                    }
                }
                #btn-techos {
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    background: #383f47;
                    color: #fff;
                    padding: 6px 40px;
                    letter-spacing: 1px;
                    user-select: none;
                    border-radius: 20px;
                    width: 140px;

                    @include tablet {
                        font-size: 12px;
                        width: 94px;
                        padding: 7px 23px 
                    }
                }
                #btn-techos:hover {
                    background: #757575;
                    color: #000;
                    border-radius: 20px;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
        }
    }

    #cielorraso {
        position: relative;
        height: 580px;
        width: 100%;
        background-color: #4b4b4b;
        z-index: 1;
        margin: -15% 0 -5% 0;

        @include tablet {
            display: flex;
            margin: -95% 0 0 0;
        }
    
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            filter: brightness(40%) contrast(120%) saturate(80%) grayscale(10%);
        }
    
        h2 {
            color: #fff;
            font-size: 2rem;
            font-family: $typo-poppins;
            font-weight: 500;
            position: absolute;
            margin: 7.9% 0 10px 7.4%;
            z-index: 10;
            background-color: map-get($color--bordo, dreyja );
            padding: 15px 10px;

            @include tablet {
                font-size: 2.3rem;
            }
        }

        .navegacion-cielorraso {
            height: 100%;
            overflow: hidden;
            margin: 250px 0 0 -950px;
            z-index: 4;
            position: relative;
        
            ul {  
                margin: 8.5% 0 0 0;
                li {
                    list-style: none;
                    display: flex;
                    flex-direction: column;  
                    align-items: center; 
                    .inbox-cielorraso {
                        width: 100%;
                        height: 70px;  /* Ajustar la altura según sea necesario */
                        display: flex;
                        flex-direction: column;  /* Establecer la dirección de la columna */
                        align-items: center;     /* Centrar elementos en el eje transversal (vertical) */
                        justify-content: flex-start;  /* Alinear elementos en la parte superior del contenedor */
                        text-decoration: none;
                        border-radius: 10px;
                        list-style-type: none;
                        color: #fff;
                        font-family: 'Poppins';
                        font-size: .9rem;
                        margin-bottom: 5px;
                    }
                    .inbox-img-cielorraso {
                        width: 40px;
                        height: 40px;
                        margin-bottom: 5px;  /* Agregar un espacio entre la imagen y el texto */
                    }
                }
            }
        }

        .nav-cielorraso {
            font-family: $typo-apple-actually;
            height: 90px;
            position: relative;
            width: 1220px;
            margin: -39% 0 0 8%;
            z-index: 555;
            color: #fff;

            @include tablet {
                position: fixed;
                top: 0;
                right: -250px;
                background: #000;
                width: 250px;
                height: 120vh;
                display: flex;
                transition: all 300ms;
            }

            .menu-cielorraso {
                position: relative;
                margin: 70px 0 0 58%;
                max-width: 450px;
                overflow: hidden;

                ul {
                    width: 100%;
                    margin: 1.8% 0% 0% 0%;
                    padding-right: 0;
                    display: flex;
                    justify-content: space-between;
                    font-size: .9rem;
                    font-weight: 300;
    
                @include tablet {
                    display: flex;
                    flex-direction: column;
                    margin-top: 34px;
                    margin-left: 0px;
                    font-size: 1em;
                    }

                    .nav__item-cielorraso{
                        margin-top: .5%;

                        a{
                            list-style: none;
                            text-decoration: none;
                            color: #fff;
                        }
    
                    @include tablet {
                        margin-top: -6%;
                        margin-left: 1px;
                        }
                    
                        .nav__link-cielorraso {
                            position: relative;
                            transition: color 0.3s;
                    
                            @include tablet {
                                color: #fff;
                            }

                            &:before {
                                content: "";
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: map-get($color--bordo, dreyja);
                                transition: width 0.3s ease;
                            }

                            &.active-card-cielorraso {
                                color: map-get($color--bordo, dreyja);
                                font-weight: bold;

                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .cielorraso-container {
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
            margin: -10.5% 0 0 20.5%;
            z-index: 333;
            position: relative;

            .cielorraso-background-left-column {
                background: map-get($color--azul, dreyja);
            }
            .cielorraso-background2-left-column {
                background: map-get($color--azul, dreyja);
            }
            .cielorraso-background3-left-column {
                background: map-get($color--azul, dreyja);
            }

            .cielorraso-card {
                background-color: #fff;
                border-radius: 1rem;
                box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
                display: flex;
                margin: 1.5rem;
                overflow: hidden;
                width: 58rem;
                height: 23rem;
                // display: none;
                z-index: 444;
                position: relative;

                &.active-card {
                    border: 2px solid map-get($color--bordo, dreyja); // Borde para destacar la tarjeta activa
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); // Sombra para destacar la tarjeta activa
                    z-index: 4;
                }

                h2 {
                    letter-spacing: .1rem;
                    margin: 1rem 0;
                    color: #000;
                }

                h6 {
                    opacity: 0.6;
                    letter-spacing: .1rem;
                    text-transform: uppercase;
                }

                .cielorraso-left-column {
                    color: #fff;
                    padding: 2rem;
                    max-width: 10rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    h4 {
                        color: #fff;
                    }

                    i {
                        font-size: 5rem;
                    }
                }

                .cielorraso-right-column {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;

                        p {
                            font-family: 'Poppins';
                            font-size: .9rem;
                            color: #000;
                            max-width: 400px;
                        }

                        span {
                            border-radius: 3rem;
                            background: map-get($color--azul, dreyja );
                            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
                            color: #fff;
                            font-size: 1.2rem;
                            padding: .8rem 1.3rem;
                            letter-spacing: .1rem;
                            align-self: flex-end;
                        }
                }

                .cielorraso-left-column-img {
                    width: 350px;
                    max-width: 300px; // Establecer el ancho máximo de la imagen
                    margin-left: auto; // Alinear a la derecha
                    position: relative;
            
                        .owl-carousel {
                            .cielorraso-item {
                                img {
                                    width: 100%; // La imagen ocupa el 100% del contenedor
                                    height: auto; // Altura automática para mantener la proporción
                                    margin: 0; // Eliminar el margen
                                }
                            }
                        }

                        .carousel-selectors {
                            .selector {
                                i {
                                    color: #333;
                                    font-size: 30px;
                                }
                            }
                        }
                }
            }
        }
    }

    .drywall {
        position: absolute;
        height: 500px;
        width: 100%;
        margin: 0% 0 10% 0;
        z-index: 1;

        @include tablet {
            display: flex;
            margin: -95% 0 0 0;
            height: 500px;
        }
    
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            filter: brightness(40%) contrast(120%) saturate(80%) grayscale(10%);
        }
    
        h2 {
            color: #fff;
            font-size: 2.2rem;
            font-family: $typo-poppins;
            font-weight: 500;
            position: absolute;
            margin: 10% 0 0 7.4%;
            z-index: 10;
            background-color: map-get($color--bordo, dreyja );
            padding: 10px 50px;

            @include tablet {
                font-size: 2.3rem;
            }
        }

        h3 {
            color: #fff;
            font-size: 1.5rem;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            position: absolute;
            margin: 15% 0 0 100px;
            background-color: map-get($color--azul, dreyja );
            padding: 10px 50px;
            
            @include tablet {
                font-size: 2.3rem;
                margin: 100px 0 0 47px;
            }
        }

        .navegacion {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 15px 0 0 -420px;
        
            ul {
                li {
                    list-style: none;
                    display: flex;
                    flex-direction: column;  
                    align-items: center;   
                    a {
                        width: 100%;
                        height: 70px;  /* Ajustar la altura según sea necesario */
                        display: flex;
                        flex-direction: column;  /* Establecer la dirección de la columna */
                        align-items: center;     /* Centrar elementos en el eje transversal (vertical) */
                        justify-content: flex-start;  /* Alinear elementos en la parte superior del contenedor */
                        text-decoration: none;
                        border-radius: 10px;
                        list-style-type: none;
                        color: #333;
                        font-family: 'Poppins';
                        font-size: .9rem;
                        margin-bottom: 5px;
                    }
                    .inbox-img {
                        width: 40px;
                        height: 40px;
                        margin-bottom: 5px;  /* Agregar un espacio entre la imagen y el texto */
                    }
                }
            }
        }

        .drywall-button{
            display: flex;
            color: #fff;
            align-items: center;
            justify-content: space-around;
            width: 60%;
            height: auto;
            margin: 12% 0 0 25.9%;
            background-color: map-get($color--azul, dreyja );
            padding: 5px;
            width: 160px;
            border-radius: 8px;
            cursor: pointer;
            // a {
            //     text-decoration: none;
            // }
        }    

        .drywall-button:hover {
            color: map-get($color--bordo, bordo );
            cursor: pointer;
        }

        nav {
            font-family: $typo-apple-actually;
            height: 90px;
            position: relative;
            width: 1160px;
            margin: 10.5% 0 0 8%;
            z-index: 2;

            @include tablet {
                position: fixed;
                top: 0;
                right: -250px;
                background: #000;
                width: 250px;
                height: 120vh;
                display: flex;
                transition: all 300ms;
            }

            .menu-drywall {
                position: relative;
                margin: 60px 0 0 32.5%;
                max-width: 900px;
                overflow: hidden;

                ul {
                    width: 100%;
                    margin: 1.8% 0% 0% 0%;
                    padding-right: 0;
                    display: flex;
                    justify-content: space-between;
                    font-size: .9rem;
                    font-weight: 300;
    
                @include tablet {
                    display: flex;
                    flex-direction: column;
                    margin-top: 34px;
                    margin-left: 0px;
                    font-size: 1em;
                    }

                    .nav__item-drywall{
                        margin-top: .5%;

                        a{
                            list-style: none;
                            text-decoration: none;
                            color: #000;
                        }
    
                    @include tablet {
                        margin-top: -6%;
                        margin-left: 1px;
                        }
                    
                        .nav__link-drywall {
                            position: relative;
                            transition: color 0.3s;
                    
                            @include tablet {
                                color: #fff;
                            }

                            &:before {
                                content: "";
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: map-get($color--bordo, dreyja);
                                transition: width 0.3s ease;
                            }

                            &.active-card {
                                color: map-get($color--bordo, dreyja);
                                font-weight: bold;

                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .drywall-container {
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
            margin: -10.5% 0 0 20.5%;
            z-index: 3;

            .background-left-column {
                background: linear-gradient(100deg, #243949, #517fa4);
            }

            .background2-left-column {
                background: linear-gradient(100deg, #517fa4, #5786ad);
            }

            .drywall-card {
                background-color: #fff;
                border-radius: 1rem;
                box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
                display: flex;
                margin: 1.5rem;
                overflow: hidden;
                width: 58rem;
                height: 23rem;
                display: none;

                &.active-card {
                    border: 2px solid map-get($color--bordo, dreyja); // Borde para destacar la tarjeta activa
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); // Sombra para destacar la tarjeta activa
                    z-index: 4;
                }

                h2 {
                    letter-spacing: .1rem;
                    margin: 1rem 0;
                    color: #000;
                }

                h6 {
                    opacity: 0.6;
                    letter-spacing: .1rem;
                    text-transform: uppercase;
                }

                .left-column {
                    color: #fff;
                    padding: 2rem;
                    max-width: 10rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    h4 {
                        color: #fff;
                    }

                    i {
                        font-size: 5rem;
                    }
                }

                .right-column {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;

                        p {
                            font-family: 'Poppins';
                            font-size: .9rem;
                            color: #000;
                            max-width: 400px;
                        }

                        span {
                            border-radius: 3rem;
                            background: map-get($color--azul, dreyja );
                            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
                            color: #fff;
                            font-size: 1.2rem;
                            padding: .8rem 1.3rem;
                            letter-spacing: .1rem;
                            align-self: flex-end;
                        }
                }

                .left-column-img {
                    width: 350px;
                    max-width: 300px; // Establecer el ancho máximo de la imagen
                    margin-left: auto; // Alinear a la derecha
                    position: relative;
            
                    .owl-carousel {
                        .item {
                            img {
                                width: 100%; // La imagen ocupa el 100% del contenedor
                                height: auto; // Altura automática para mantener la proporción
                                margin: 0; // Eliminar el margen
                            }
                        }
                    }

                    .carousel-selectors {
                        .selector {
                            i {
                                color: #333;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .banner-shop-cs {
        background-color: #8baac0;
        height: 245px;
        width: 100%;
        padding: 1px;
        margin: 45% 0 0 0;

        @include tablet {
            display: flex;
            height: 180px;
            width: 100%;
            margin: 0 0 40% 0;
        }
        h2 {
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 2rem;
            color: #fff;
            width: 100%;
            display: flex;
            position: relative;
            text-align: center;
            justify-content: center;
            align-items: center;
            top: 40%;
            @include tablet {
                display: flex;
                font-size: 1.2rem;
                margin: -133px 0 0 0;
            }
        }
        // .btn-e-shop-cs{
        //     display: flex;
        //     position: absolute;
        //     background: #5c7383; 
        //     border: 2px solid #fff;
        //     border-radius: 30px;
        //     padding: 10px 0px 10px 35px;
        //     width: 200px;
        //     margin: 45px 0 0 45%;

        //     @include tablet {
        //         display: flex;
        //         margin: 105px 0 0 92px;
        //     }
        //     a {
        //         text-decoration: none;
        //         color: #fff;
        //         }
        //     .btn-e-shop-cs:hover{
        //         cursor: pointer;
        //         transition: all .3s ease-in-out;
        //         background-color: #9fc7e6;
        //         border: 2px solid #cbebfb;
        //         color: #fff;
        //         }
        // }
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        background-color: #ffffff;
        margin: 0 0 0px 0;

        @include tablet {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            // grid-template-columns: 1fr;
            margin: -40% 0 0 0;
            background: #e3e3e3;
            padding: 0.5rem;
        }

        .header-mobile {
            display: none;

            @include tablet {
                display: flex;
                padding: 1rem;
                justify-content: space-between;
                align-items: center;
            }
            .shop-logo {

                @include tablet {
                    margin: 0 0 0 3px;
                }
                img {
                    @include tablet {
                        width: 155px;
                        height: 45px;
                    }
                }
            }

            .open-menu-header {
                display: none;

                @include tablet {
                    display: flex;
                    background: transparent;
                    color: #333;
                    border: 0;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
        }
        aside{
            padding: -1rem;
            padding-right: 0;
            color: #4e6448;
            position: sticky;
            top: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 0 10% 0;

            @include tablet {
                position: fixed;
                z-index: 999;
                background: #fff;
                left: 0;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
                transform: translateX(-100%);
                opacity: 0;
                visibility: hidden;
                transition: .2s;
            }
            .shop-logo{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 1.5rem;
                padding: 2rem;
            }
            nav {
                .menu-ul {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem; 
                    li {
                        .boton-menu{
                            background-color: transparent;
                            border: 0;
                            color: #000000;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            font-weight: 600;
                            font-size: .85rem;
                            padding: .8rem;
                            width: 100%;
                        }
                        .boton-menu.active{
                            background-color: #eee;
                            color: #000000;
                            border-top-left-radius: 1rem;
                            border-bottom-left-radius: 1rem;
                            position: relative;
                        }
                        .bi-arrow-up-square-fill,
                        .bi-arrow-up-square {
                            transform: rotateZ(90deg);
                        }
                        .boton-carrito{
                            margin-top: 2rem;
                        }
                    }
                }
            }
            .footer-shop {
                .texto-footer{
                    font-family: 'Poppins';
                    color: rgb(158, 158, 158);
                    font-size: .85rem;
                    margin-left: 15%;
                }
            }
        }
        .aside-visible {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            @include tablet {
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
                }
            .close-menu-header{
                display: none;

                @include tablet {
                    display: flex;
                    position: absolute;
                    top: 1.9rem;
                    right: 1rem;
                    background: transparent;
                    color: #333;
                    border: 0;
                    font-size: 1.3rem;
                    cursor: pointer;
                    }
                }
        }
        .main-eshop{
            background-color: #f1f1f1;
            margin: 1rem;
            margin-left: 0;
            border-radius: 2rem;
            padding: 2rem;

            @include tablet {
                margin: 1rem;
                padding: 2rem;
                margin: 0 0 170px 0;
            }
            .titulo-principal{
                color: #4e6448;
                margin-bottom: 2rem;
            }
            .contenedor-productos {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 3rem;

                @include desktop-b {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include tablet-medium {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include tablet {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mobile-L-14promax {
                    grid-template-columns: 1fr;
                }

                @include mobile-a54 {
                    grid-template-columns: 1fr;
                }
                .producto {
                    .producto-imagen {
                        max-width: 100%;
                        border-top-right-radius: 1rem;
                        border-top-left-radius: 1rem;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    .producto-detalles{
                        background-color: #6b8b63;
                        color: #fff;
                        padding: .5rem;
                        border-radius: 1rem;
                        margin-top: -.5rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: .25rem;
                        text-align: center;
                        border-top-right-radius: 0px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;

                        @include tablet {
                            width: 300px;
                        }
                        .producto-titulo{
                            font-size: 1rem;
                            text-align: center;
                        }
                        .producto-agregar{
                            border: 0;
                            background-color: #fff;
                            color: #6b8b63;
                            padding: .4rem;
                            text-transform: uppercase;
                            border-radius: 2rem;
                            cursor: pointer;
                            border: 2px solid #fff;
                            transition: background-color .2s, color .2s;
                        }
                        .producto-agregar:hover{
                            background-color: #6b8b63;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .disposicion {

        @include tablet {
            height: 556px;
            margin-bottom: -73.5%;
            margin-top: -40%;
            background: #fff;
        }
        .disposicion-6-cs{
            height: 70vh;
            background-image: url(https://i.pinimg.com/564x/09/dc/24/09dc24e77ec05440710cbc536e6426b5.jpg);
            filter: opacity(25%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;

            @include tablet {
                height: 270px;
            }
        }
        .disposicion-content {
            display: flex;
            .disposicion-title {
                font-family: 'Poppins';
                font-weight: 300;
                font-size: 2rem;
                color: #000;
                width: 100%;
                display: flex;
                position: relative;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-top: -38%;

                @include tablet {
                    width: 90%;
                    font-size: 1.1rem;
                    margin: -80% 0 0 20px;
                }
            }
        }
        .btn-redirect{
            display: flex;
            position: absolute;
            margin-top: -14%;
            margin-left: 40%;
            background: var(--section-cs); 
            border: 2px solid #fff;
            border-radius: 30px;
            padding: 10px 0px 10px 35px;
            width: 200px; 

            @include tablet {
                display: flex;
                margin: -75px 0 0 90px
            }
            a {
                font-size: 'Poppins';
                font-weight: 400;
                text-decoration: none;
                color: #333;
            }
        }
        .btn-redirect:hover{
            cursor: pointer;
            transition: all .3s ease-in-out;
            background-color: #ffffff;
            border: 2px solid #000000;
            color: #333;
            font-family: 'Poppins';
            font-weight: 500;
        } 
    }
}



// .section-form {
//     @include tablet {
//         margin: -40% 0 0 0;
//         width: 380px;
//     }
// }