main {

    @include monitor-27 {
        background: #fff;
    }

    // @include tablet {
    //     background: rgb(227,227,227);
    // }
    
    #home {
        height: 750px;
        position: relative;

        // @include tablet {
        //     background: rgb(227,227,227);
        //     background: linear-gradient(180deg, #e3e3e3 36%, #f3f3f3 75%, white 100%);
        //     min-height: 530px;
        // }

        .container {
            position: relative;
            height: 560px;
            max-width: 1350px;
            margin-top: -7px;
            padding: 0px;

            @include monitor-27 {
                background-color: rgba(102, 51, 153, 0.74);
                max-width: 1920px;
                height: 760px;
            }

            @include portatil {
                margin: -22px 0 0 0;
            }

            // @include tablet {
            //     margin: -46% 0 0 0;
            //     // background: #000;
            //     // height: 800px;
            // }

            @include samsung-L {
                background-color: green;
                margin: -51% 0 0 0%;
            }

            @include mobile_l {
                background: transparent;
                max-height: 656px;
            }

            .home-slider {
                width: 100%;
                height: 500px;
                margin: auto;
                position: relative;
                overflow: hidden;

                @include samsung-L {
                    height: 100vh;
                    background-color: #1977cc;
                }

                @include monitor-27 {
                    display: flex;
                    height: 760px;
                }

                // @include tablet {
                //     display: flex;
                //     height: 800px;
                // }
                .home-list {
                    position: absolute;
                    width: max-content;
                    height: 100%;
                    left: 0;
                    top: 0;
                    display: flex;
                    transition: 1s;

                    @include monitor-27 {
                        display: none;
                    }

                    // @include tablet {
                    //     display: flex;
                    //     // height: 650px;
                    // }

                    @include samsung-L {
                        display: none;
                    }

                    .home-item {

                        @include mobile_l {
                            display: none;
                        }
                        img {
                            width: 1350px;
                            max-width: 100vw;
                            height: 100%;
                            object-fit: cover;
                            z-index: 990; 
                            filter: brightness(0.7);
    
                            // @include tablet {
                            //     display: flex;
                            //     margin: 29% 0 0 0;
                            // }

                            @include mobile_l {
                                max-height: 20vw;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(to top, rgba(39, 50, 56, 0.08), rgba(39, 50, 56, 0));
                            z-index: 10; // Aseguramos que el degradado esté sobre la imagen
                            pointer-events: none; // Evitamos que el degradado interfiera con eventos del mouse
                        }
                    }
                }

                .homeBackgroundMonitor {
                    
                    // @include mobile_l {
                    //     display: flex;
                    //     max-height: 556px;
                    // }

                    .homeItemMonitor {
                        width: 1920px;
                        height: 760px;

                        img {
                            display: flex;
                            width: 1600px;
                            height: 826px;

                            @include samsung-L {
                                width: 1000px;
                                height: 100vh
                            }
                        }
                    }
                }

                .home-buttons {
                    position: absolute;
                    top: 46.5%;
                    left: 1%;
                    width: 98%;
                    display: flex;
                    justify-content: space-between;
                    button {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #fff5;
                        color: #000000;
                        border: none;
                        font-family: monospace;
                        font-weight: bold;
                        @include tablet {
                            display: none;
                    }
                    
                }
                .home-dots {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    color: #fff;
                    width: 100%;
                    margin: -1px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    li {
                        list-style: none;
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        margin: 5px;
                        border-radius: 20px;
                        transition: 0.5s;
                    }
                    li.active {
                        width: 30px;
                    }
                    }
                }
            // .capa {
            //     position: absolute;
            //     top: -28px;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background: #1c1c1d5b;
            //     opacity: 0.5;
            //     mix-blend-mode: overlay;
            //     @include tablet {
            //         width: 100%;
            //         margin-top: -21%;
            //     }
            // }   
            }
            .container-info{
                margin-top: 50px;
                margin-left: 4%;

                @include samsung-L {
                    margin: -52% 0 0 -5%;
                }
                h1  {
                    margin: 0;
                    font-family: $typo-poppins;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 56px;
                    text-transform: uppercase;
                    color: #fff;
                    // text-shadow: 5px 5px map-get($color--azul, dreyja );
                    background-color: map-get($color--bordo, dreyja );
                    padding: 4px 30px;
                    margin-top: -85px;
                    position: absolute;
                    z-index: 333;
                    margin-top: -27%;
                    margin-left: 4%;

                    @include samsung-L {
                        height: 83px;
                        padding: 15px;
                        width: 94%;
                        border-top-right-radius: 20px;
                        font-size: 1.8rem;
                    }

                    @include mobile-l {
                        display: none;
                        // max-width: 90%;
                        // padding: 0px 0px;
                    }
                    
                    // @include tablet {
                    //     font-size: 1.8rem;
                    //     margin-left: 6%;
                    //     margin-top: -97%;
                    //     }
                    // }

                    @include portatil {
                        margin-top: -35%;
                        margin-left: 4%;
                    }

                    @include monitor-27 {
                        font-size: 64px;
                        font-weight: 600;
                        padding: 4px 30px;
                        // margin: -25.5% 0 0 4%;
                    }
                }
                .subtitle-ppal{
                    color: #fff;
                    // text-shadow: 4px 4px map-get($color--azul, dreyja );
                    background-color: map-get($color--azul, dreyja );
                    padding: 4px 30px;
                    z-index: 333;
                    position: absolute;
                    margin-top: -22%;
                    margin-left: 4%;
                    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	                animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    
                    @-webkit-keyframes text-focus-in {
                        0% {
                        -webkit-filter: blur(12px);
                                filter: blur(12px);
                        opacity: 0;
                        }
                        100% {
                        -webkit-filter: blur(0px);
                                filter: blur(0px);
                        opacity: 1;
                        }
                    }
                    @keyframes text-focus-in {
                        0% {
                        -webkit-filter: blur(12px);
                                filter: blur(12px);
                        opacity: 0;
                        }
                        100% {
                        -webkit-filter: blur(0px);
                                filter: blur(0px);
                        opacity: 1;
                        }
                    }

                    @include monitor-27 {
                        padding: 4px 30px;
                    }

                    @include portatil {
                        margin: -281px 0 0 40px;
                    }

                    // @include mobile-l {
                    //     border-top-left-radius: 10px;
                    //     border-bottom-left-radius: 10px;
                    //     font-size: 18px;
                    //     background: map-get($color--bordo, dreyja);
                    //     position: relative;
                    // }

                    // @include tablet {
                    //     font-size: 1.3rem;
                    //     margin-top: -85%;
                    //     margin-left: 24px;
                    //     width: 75%;
                    // }

                    @include samsung-L {
                        font-size: 1.1rem;
                        margin: -48px 0 0 4%;
                        max-width: 360px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 20px;
                        letter-spacing: 3px;
                        }
                    }
            }
        }
    }

    .home_1{
            font-family: $typo-poppins;
            background: #ffffff;
            width: 100%;
            height: 235px;
            margin-top: -12%;
            margin-bottom: 10%;

            @include monitor-27 {
                margin: 12% 0 10% 0;
                height: 275px;
            }

            
            @include mobile_l {
                max-width: 119px;
                margin: 7% 0 0 40%;
            }
            
            .home_txt-fx{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                max-width: 1000px;
                margin-left: 10.5em;
                height: 280px;
                
                @include monitor-27 {
                    margin-top: -12%;
                    max-width: 1440px;
                }

                .columns{

                    // @include tablet {
                    //     // margin-top: -110px;
                    // }
                    .col + .col {
                        margin-left: 1.5em;
                    }
                    .fade-in{
                        opacity: 0;
                        transition: opacity 300ms ease-in;
                    }
                    .fade-in.appear {
                        opacity: 1;
                    }
                    .more-stuff-grid{
                        background: #fff;
                        padding: 4em 0;
                        display: grid;
                        grid-gap: 2em;
                        align-items: center;
                        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
                            1em,
                            1fr
                        );
                    }
                    .from-left{
                        grid-column: 2 / 3;
                        transform: translateX(-50%);
                    }
                    .from-right{
                        grid-column: 3 / 4;
                        transform: translateX(50%);
                    }
                    .from-left, .from-right {
                        transition: transform 400ms ease-in;
                    }
                    .from-left.appear, .from-right.appear {
                        transform: translateX(0);
                    }
                    .futuro{
                    font-family: $typo-poppins;
                    font-size: 2.9em;
                    background: rgb(124, 160, 180);
                    background: linear-gradient(90deg, rgb(113, 139, 153) 40%, rgba(211,8,9,1) 60%);
                    text-transform: uppercase;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-left: 40px;

                        // @include tablet {
                        // font-family: $typo-poppins;
                        // font-weight: 600;
                        // margin-left: -74%;
                        // font-size: 35px;
                        // margin-top: -150px;
                        // background: rgb(124, 160, 180);
                        // background: linear-gradient(90deg, rgb(113, 139, 153) 40%, rgba(211,8,9,1) 60%);
                        // text-transform: uppercase;
                        // -webkit-background-clip: text;
                        // -webkit-text-fill-color: transparent;
                        // // background: orangered;
                        // }

                        @include mobile_l {
                            max-width: 80%;
                        }

                        @include samsung-L {
                            margin-top: 170%;
                            position: relative;
                        }
                    }

                    // @include portatil {
                    //     margin: -115px 0 0 -100px;
                    // }

                    @include monitor-27 {
                        // background-color: greenyellow;
                        margin-top: -3%;
                        margin-left: -15%;
                        max-width: 1200px;
                    }
                    
                    h3{
                        font-family: $typo-poppins;
                        font-weight: 500;

                        // @include tablet {
                        //     margin-left: -76%;
                        //     font-size: 1.1rem;
                        //     margin-top: -1%;
                        // }
                    }
                    p {
                        font-family: $typo-poppins;

                        @include monitor-27 {
                            font-family: $typo-poppins;
                            font-size: 1.2rem;
                            font-weight: 400;
                            margin: 14px 0px 8px 40px;
                            max-width: 1300px;
                            color: map-get($color--azul, dreyja);
                        }

                        @include portatil {
                            margin: 0 0 0 -131px;
                            max-width: 675px;
                        }

                        // @include tablet {
                        //     display: flex;
                        //     align-items: center;
                        //     width: 84%;
                        //     margin: 6px 0px 8px -136px;
                        //     position: absolute;
                        //     font-size: .7em;
                        //     text-align: justify;
                        //     // background: green;
                        // }

                        @include samsung-L {
                            margin-left: -71%;
                            max-width: 360px
                        }
                    }
                }
            }
        }

    #cards{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f1f1f1;
        min-height: 800px;
        margin-top: -130px;

        @include monitor-27 {
            margin-top: -190px;
        }

        // @include tablet{
        //     margin-top: -175px;
        //     background: #fff;
        // }

        @include samsung-L {
            margin: 49% 0 0 0;
        }

        .home-container{
            position: relative;
            width: 900px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: -340px;
            background: #f1f1f1;

            // @include tablet {
            //     margin-top: -110%;
            //     border-radius: 0px;
            //     background: #ffffff;
            // }

            @include samsung-L {
                margin: -86% 0 84% 0;
            }

            h2{
                display: flex;
                position: absolute;
                color: #000;
                margin-top: -6%;
                margin-left: 36%;
                font-size: 39px;
                -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                @-webkit-keyframes text-focus-in {
                    0% {
                    -webkit-filter: blur(12px);
                            filter: blur(12px);
                    opacity: 0;
                    }
                    100% {
                    -webkit-filter: blur(0px);
                            filter: blur(0px);
                    opacity: 1;
                    }
                }
                @keyframes text-focus-in {
                    0% {
                    -webkit-filter: blur(12px);
                            filter: blur(12px);
                    opacity: 0;
                    }
                    100% {
                    -webkit-filter: blur(0px);
                            filter: blur(0px);
                    opacity: 1;
                    }
                }

                @include monitor-27 {
                    font-size: 44px;
                    margin: -6% 0 0 31%;
                    font-family: $typo-poppins;
                    color: map-get($color--azul, dreyja);
                }

                // @include tablet {
                //     font-size: 1.6rem;
                //     margin-left: 28%;
                //     margin-top: -7px
                // }

                @include samsung-L {
                    background-color: map-get($color--bordo, dreyja );
                    padding: 3px;
                    margin: -3% 0 10% 0%;
                    width: 363px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 9px;
                    color: #fff;
                }
            }
            .info-links{
                display: flex;
                margin-top: -1%;
                margin-left: 35.5%;
                gap: 35px;
                padding: 5px;

                @include monitor-27 {
                    display: none;
                }
                
                // @include tablet {
                //     margin-left: 15%;
                //     margin-top: 10px;
                //     margin-bottom: -7%;
                //     display: flex;
                //     flex-direction: row;
                // }

                @include samsung-L {
                    margin-bottom: -1%;
                    margin-top: 5%;
                }
                    a{
                        font-family: $typo-apple;
                        font-size: 20px;

                        // @include tablet {
                        //     font-size: 18px;
                        //     display: flex;
                        //     margin: 8px;
                        // }
                    }
                    i {
                        font-size: 16px;
                        // @include tablet {
                        //     font-size: 13px;
                        //     margin-top: 7px;
                        // }
                    }
                }

            .home-card{
                position: relative;
                height: 250px;
                display: flex;
                width: 45%;
                margin: 30px 0;
                border-radius: 6px;
                background: #f0f0f0;
                box-shadow:  5px 5px 25px #cacaca,
                -5px -5px 25px #ffffff;
                z-index: 222;
                
                @include monitor-27 {
                    display: flex;
                    position: relative;
                    width: 49%;
                    height: 280px;
                    margin: 35px 0;
                }

                // @include tablet {
                //     max-width: 300px;
                //     flex-direction: column;
                //     height: auto;
                //     margin-left: 12%;
                //     background: #fff;
                // }

                @include samsung-L {
                    background-color: green;
                    display: contents;
                }

                .home-imgBx{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background:map-get($color--azul, dreyja);
                    z-index: 111;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: 0.5s ease-in-out;

                    // @include tablet {
                    //     position: relative;
                    //     transition: 0.5s ease-in-out;
                    // }
                    
                    .home-icon{
                        color: #fff;
                        }
                    }
                    .home-content{
                    position: absolute;
                    right: 0;
                    width: calc(100% - 75px);
                    height: 100%;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    // @include tablet {
                    //     position: relative;
                    //     width: 100%;
                    //     }
                    
                    @include samsung-L {
                        text-align: center;
                    }
                    }
                    h3 {
                        margin-bottom: 5px;
                        font-size: 24px;
                    }
                    a {
                        display: inline-block;
                        margin-top: 10px;
                        padding: 5px 10px;
                        background: #333;
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }  
            .home-card:hover .home-imgBx {
                width: 150px;
                height: 150px;
                left: -75px;
                top: calc(50% -75px);
                transition: 0.5s ease-in-out;
                background: map-get($color--bordo, dreyja );
                img{
                    max-width: 100px;
                    transition: 0.5s ease-in-out;
                }
            }
            .home-imgBx, .home-card:hover .home-imgBx{
            // @include tablet {
            //     width: 100%;
            //     height: 200px;
            //     left: 0;
            //     }
            }
            .home-imgBx img, .home-card:hover .home-imgBx img{
                // @include tablet {
                //     max-width: 100px;
                //     }
                }
            .home-card .home-imgBx:before {
                content: attr(data-text);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 6em;
                color: rgba(255, 255, 255, 0.233);
                font-weight: 700;

                // @include tablet {
                //     font-size: 4.5em;
                // }
            }
            .home-card:hover .home-imgBx img {
                max-width: 75px;
            }
    }
            
    .slider{
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        margin: auto;
        overflow: hidden;
        background: #fff;

        // @include tablet {
        //     margin-top: 235px;
        //     background: #fff;
        //     border: none;
        // }

        @include samsung-L {
            margin-top: 70%;
        }
        .slide-track{
            display: flex;
            animation: scroll 40s linear infinite;
            -webkit-animation: scroll 40s linear infinite;
            width: calc(200px * 14);

            @include monitor-27 {
                margin-bottom: 3%;
            }

            .slide {
                width: 200px;
                img {
                    width: 100%;
            }
        }
        @keyframes scroll {
            0% {
                transform: translateX(0);
                -webkit-transform: translateX(0);
                }
            100% {
                -webkit-transform: translateX(calc(-200px * 7));
                transform: translateX(calc(-200px * 7));
                }
        }
    }

    
    } 

    .section-5{
        height: 600px;
        background: #f1f1f1;

        &:after {
            content: "";
            position: absolute;
            top: 190%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 0px 0vw 500px 98vw;
            border-style: solid;
            border-color: transparent transparent #88888821 transparent;
            display: none;
            z-index: 1;

            @include portatil {
                top: 237.5%;
            }

            @include monitor-27 {
                top: 178%;
                background-color: #fff;
            }
        }
        
        // @include tablet{
        //     width: 100%;
        //     height: 1450px;
        //     font-size: 1.5rem;
        //     padding: 10px;
        //     background: map-get($color--azul, dreyja );
        // }

        @include samsung-L {
            height: 145vh;
        }

            .subtitle-center{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.5rem;
                -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                @-webkit-keyframes text-focus-in {
                    0% {
                    -webkit-filter: blur(12px);
                            filter: blur(12px);
                    opacity: 0;
                    }
                    100% {
                    -webkit-filter: blur(0px);
                            filter: blur(0px);
                    opacity: 1;
                    }
                }
                @keyframes text-focus-in {
                    0% {
                    -webkit-filter: blur(12px);
                            filter: blur(12px);
                    opacity: 0;
                    }
                    100% {
                    -webkit-filter: blur(0px);
                            filter: blur(0px);
                    opacity: 1;
                    }
                }

                @include monitor-27 {
                    font-size: 44px;
                    font-family: $typo-poppins;
                    color: map-get($color--azul, dreyja);
                }

                @include portatil {
                    margin: 10px 0 0px 35px;
                }
    
                // @include tablet {
                //     padding-left: 0%;
                //     font-size: 25px;
                //     color: #ffffff;
                // }

                @include samsung-L {
                    background-color: map-get($color--bordo, dreyja);
                    margin-left: -4%;
                    max-width: 380px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 10px;
                }
            }
            .info-links{
                display: flex;
                margin-top: -1%;
                margin-left: 36%;
                gap: 35px;
                padding: 5px;
                
                @include monitor-27 {
                    display: none;
                }
                // @include tablet {
                //     display: flex;
                //     position: relative;
                //     font-size: 13px;
                //     align-items: center;
                //     margin-left: 8%;
                //     gap: 21px;
                // }
    
                a{
                    font-family: $typo-apple;
                    font-size: 20px;
    
                    // @include tablet {
                    //     font-size: 17px;
                    // }
                }
                i {
                    font-size: 16px;
                }
            }
            .services{

                @include monitor-27 {
                    margin: 2% 0 0 0;
                }

                // @include tablet {
                //     width: 94%;
                //     margin-bottom: 70%;
                // }
                .container {

                    @include mobile_l {
                        height: 100px;
                    }

                    @include portatil {
                        margin: 0 0 0 10px;
                    }

                    // @include tablet {
                    // }

                    .section-title{
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        font-family: $typo-poppins;
    
                        // @include tablet {
                        //     display: none;
                        // }

                        p {
                            display: none;
                        }
                    }
                    .row{
                        padding: 10px 10px 10px 50px;
                        margin-right: 15px;

                        @include portatil {
                            margin: 0 0 0 -76px;
                            width: 1015px;
                        }

                        @include monitor-27 {
                            margin-top: -1%;
                        }

                        @include samsung-L {
                            margin: 0px 0 0 -27%;
                        }
                    }
                }
                .icon-box{
                    text-align: center;
                    border: none;
                    border-radius: 20px;
                    background: #fff;
                    padding: 80px 20px;
                    transition: all ease-in-out 0.3s;

                    @include monitor-27 {
                        background-color: #dadada2b;
                    }

                    @include portatil {
                        margin-right: -63px;
                    }

                    // @include tablet {
                    //     padding: 20px 22px;
                    // }

                    @include samsung-L {
                        width: 371px;
                        height: 195px
                    }
                    h4 {
                        @include portatil {
                            margin: 0 0 0 10%;
                        }
                    }
                    p {
                        @include portatil {
                            max-width: 135px;
                            margin: 0 0 0 20%;
                        }
                    }
                    .icon{
                        margin: 0 auto;
                        width: 64px;
                        height: 64px;
                        background: #1977cc;
                        border-radius: 5px;
                        transition: all .3s ease-out 0s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 20px;
                        transform-style: preserve-3d;

                        @include samsung-L{
                            margin: 60px 0 0 0;
                        }
                        .icon::before {
                            position: absolute;
                            content: '';
                            left: -8px;
                            top: -8px;
                            height: 100%;
                            width: 100%;
                            background: #badaf7;
                            border-radius: 5px;
                            transition: all .3s ease-out 0s;
                            transform: translateZ(-1px);
                        }
                        i {
                            color: #fff;
                            font-size: 28px;
                        }
                    }
                    h4{
                        font-weight: 700;
                        margin-bottom: 15px;
                        font-size: 24px;

                        @include samsung-L {
                            background-color: map-get($color--azul, dreyja);
                            margin: -34% 0 0 0;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                            padding: 6px;
                        }
                        
                        a {
                            color: map-get($color--azul, dreyja);

                            // @include tablet {
                            //     color: #ffffff;
                            // }
                        }
                    }
                    p {
                        line-height: 24px;
                        font-size: 14px;
                        margin-bottom: 0;

                        @include monitor-27 {
                            color: map-get($color--azul, dreyja);
                            font-size: 18px;
                        }

                        // @include tablet {
                        //     color: #afafaf;
                        // }

                        @include samsung-L {
                            margin-top: 8px;
                            width: 246px;
                            max-width: 246px;
                            margin-left: 73px;
                            color: #333;
                        }
                    }
                }
                .icon-box:hover {
                    background: map-get($color--azul, dreyja );
                    border-color: none;
                    cursor: pointer;
                    .icon {
                        background:map-get($color--bordo, dreyja);
                        i {
                            color: #fff;
                        }
                    }
                }
                .icon-box:hover .icon::before {
                    background: #3291e6;
                }
            }
            .services .icon-box:hover h4 a, .services .icon-box:hover p {
                color: #fff;
            }
        }

    .grid {

        @include monitor-27 {
            background-color: #fff;
            margin: -1% 0 -1% 0;
        }

        // @include tablet {
        //     height: 1826px;
        // }

        @include samsung-L {
            height: 249vh;
        }

        .grid-gallery{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 50px 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: 250px;
            grid-auto-flow: dense;
            grid-gap: 20px;

            // @include tablet {
            //     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            //     grid-auto-rows: 250px;
            //     background: #ffffff;
            // }
            .grid-item{
                position: relative;
                background-color: #efefef;
                overflow: hidden;
                a {
                    cursor: pointer;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                }
            }
            .grid-item:hover img {
                transform: scale(1.1);
            }
            .grid-item:nth-child(3n - 2) {
                grid-column: span 2;
                grid-row: span 2;

                // @include tablet {
                //     grid-column: unset;
                //     grid-row: unset;
                // }
            }
        }
    }
}

// .seccion-b{
        

//     @include tablet{
//         // width: 768px;
//         height: 50vh;
//         margin-top: 10%;
//         background-color: violet;
//         }
//     }

.blur {
filter: blur(5px);
pointer-events: none;
    }
